
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <ul class="nav nav-pills">
        <li><a href="#">Step 1 of 3</a></li>
        <li class="active"><a href="#">Step 2 of 3</a></li>
        <li><a href="#">Step 3 of 3</a></li>
      </ul>  
      <h1>Welcome <%=@profile.your_name%> from <%=@profile.location%></h1>
                  <p> Pretend there's a map here showing coverage area selected</p>

                  <p> Also some sort of availability form to enter days/times available for work</p>
                </div>
              </div>
            </div>